<div class="container-fluid">

  <div class="container">
    <div class="col">
      <div class="col1">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Employee</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form  [formGroup]="employeeForm" (ngSubmit)="save()">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstName" maxlength="50"/>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
                <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastName" maxlength="50"/>
                </mat-form-field>
                </div>  
            </form>
          </mat-card-content>
          <mat-card-actions align="start">
            <button type="submit" color="primary">Save</button>
          </mat-card-actions>
          <mat-card-footer></mat-card-footer>
        </mat-card>
      </div>
      <div class="col2 ms-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Benefits Cost</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-grid-list cols="2">
              <mat-grid-tile>
                <mat-list>
                  <mat-list-item>Dependents</mat-list-item>
                  <mat-list-item>Yearly Salary</mat-list-item>
                  <mat-list-item>Gross Per Check </mat-list-item>
                  <mat-list-item>Yearly Cost</mat-list-item>
                  <mat-list-item>Cost Per Check</mat-list-item>
                  <mat-list-item>Discounts</mat-list-item>
                </mat-list>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-list>
                  <mat-list-item>{{ employee.dependents }}</mat-list-item>
                  <mat-list-item>{{ employee.yearlySalary | currency }}</mat-list-item>
                  <mat-list-item>{{ employee.checkGrossPay | currency }}</mat-list-item>
                  <mat-list-item>{{ employee.yearlyCost | currency }}</mat-list-item>
                  <mat-list-item>{{ employee.costPerCheck | currency }}</mat-list-item>
                  <mat-list-item>{{ employee.discounts | currency }}</mat-list-item>
                </mat-list>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
          <mat-card-actions align="start">
          </mat-card-actions>
          <mat-card-footer></mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="">
    <app-employee-dependents [employee]="employee" (dependentsModified)="onDependentsModified($event)"></app-employee-dependents>
  </div>
</div>